mern auth - starter/backend/.env
mern auth - starter/backend/node_modules
mern auth - final/backend/node_modules
mern auth - starter/frontend/node_modules
mern auth - final/frontend/node_modules
mern auth - starter/frontend/src/.env
mern auth -final/backend/node_modules

mern auth -final/backend/.env
